<div class="user-notes-list">
  <ng-container *ngIf="loading; else content">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-template #content>
    <h4 class="user-notes-list__heading">Notes</h4>
    <mat-accordion multi *ngIf="!loading">
      <mat-expansion-panel
        class="user-notes-list__accordion"
        *ngFor="let note of notes"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ note.title }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ note.description }}</p>
        <mat-action-row>
          <button mat-raised-button color="warn" (click)="onDelete(note._id)">
            Delete
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</div>
