:host{
    .user-notes-list{
        width: 40%;
        margin: auto;

        &__heading{
            color: gray;
            font-size: 20px;
            font-weight: 500;
        }

        &__accordion{
            margin-bottom: 10px;
        }
    }
}