<div [formGroup]="notesForm" class="add-notes-container">
  <mat-form-field class="form-field-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title" />
    <mat-error *ngIf="notesForm.get('title')?.hasError('maxlength')"
      >Maximum 20 characters allowed.</mat-error
    >
    <mat-error
      *ngIf="
        notesForm.get('title')?.hasError('required') ||
        notesForm.get('title')?.touched
      "
      >Please enter a note title</mat-error
    >
  </mat-form-field>

  <mat-form-field class="form-field-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <app-action-buttons
    (saveButtonEvent)="saveForm()"
    [formStatus]="notesForm.status"
  ></app-action-buttons>
</div>
